In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Voor een betere display met `head()`

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
df_full = pd.read_csv("data/sap_storing_data_hu_project.csv", low_memory=False)

Kolommen gemarkeerd als 'nvt' of '?' worden verwijderd

In [4]:
nvt_columns = ["stm_sap_mon_meld_ddt", "stm_mon_begin_ddt", "stm_mon_toelichting_trdl",  "stm_oh_pg_mld",  "stm_geo_mld_uit_functiepl",  "stm_scenario_mon",  "stm_status_melding_sap",  "stm_mon_nr_status_omschr",  "stm_mon_nr__statuscode",  "stm_mon_nr_status_wijzdd",  "stm_aanntpl_ddt",  "stm_geo_gst_uit_functiepl",  "stm_objectdl_code_gst",  "stm_objectdl_groep_gst",  "stm_progfh_in_ddt",  "stm_progfh_in_invoer_ddt",  "stm_progfh_gw_ddt",  "stm_progfh_gw_lwd_ddt",  "stm_progfh_hz", "stm_veroorz_groep", "stm_veroorz_code", "stm_veroorz_tekst_kort", "stm_effect", "stm_afspr_aanvangddt", "stm_mon_eind_ddt", "stm_mon_vhdsincident", "stm_dir_betrok_tr", "stm_aangelegd_dd", "stm_aangelegd_tijd", "stm_mon_begindatum", "stm_mon_begintijd", "stm_progfh_gw_datum", "stm_mon_eind_datum", "stm_mon_eind_tijd", "stm_controle_dd", "stm_akkoord_mon_toewijz", "stm_status_sapnaarmon", "stm_fact_jn", "stm_akkoord_melding_jn", "stm_afsluit_ddt", "stm_afsluit_dd", "stm_afsluit_tijd", "stm_rec_toegev_ddt", "stm_hinderwaarde", "stm_actie", "stm_standplaats", "stm_status_gebr", "stm_wbi_nummer", "stm_projnr", "stm_historie_toelichting", "stm_schade_verhaalb_jn", "stm_schadenr", "stm_schade_status_ga", "stm_schade_statusdatum", "stm_relatiervo_vorig", "stm_relatiervo_volgend", "stm_relatiervo", "stm_afspr_func_hersteldd", "stm_afspr_func_hersteltijd", "stm_sorteerveld", "stm_rapportage_maand", "stm_rapportage_jaar", "stm_x_bron_publ_dt", "stm_x_bron_bestandsnaam", "stm_x_bron_arch_dt", "stm_x_actueel_ind", "stm_x_run_id", "stm_x_bk", "stm_x_start_sessie_dt", "stm_x_vervallen_ind", "stm_evb", "stm_functiepl_mld", "stm_functiepl_gst", "stm_arbeid", "stm_progfh_in_duur", "stm_progfh_gw_lwd_datum", "stm_progfh_gw_lwd_tijd", "stm_progfh_gw_duur", "stm_afspr_aanvangdd", "stm_afspr_aanvangtijd", "stm_reactie_duur"]

for x in nvt_columns:
    df_full.drop(x, axis=1, inplace=True)

Er word een nieuwe dataframe gemaakt met die alleen de kolommen bevat die wij int

In [143]:
df = df_full[["stm_sap_meld_ddt",  "stm_geo_mld",  "stm_equipm_nr_mld",  "stm_equipm_soort_mld",  "stm_km_van_mld",  "stm_km_tot_mld",  "stm_prioriteit",  "stm_geo_gst",  "stm_oorz_code",  "stm_tao_indicator",  "stm_tao_indicator_vorige",  "stm_tao_soort_mutatie",  "stm_tao_telling_mutatie",  "stm_tao_beinvloedbaar_indicator",  "stm_sap_melddatum",  "stm_sap_meldtijd",  "stm_contractgeb_mld",  "stm_techn_mld",  "stm_techn_gst",  "stm_aanngeb_dd",  "stm_aanngeb_tijd",  "stm_aanntpl_dd",  "stm_aanntpl_tijd", "stm_sap_storeinddatum", "stm_sap_storeindtijd"]]
df = df[df.duplicated()]

In [142]:
# df.tail(20)

strings naar datums converten

In [145]:
# Date + Time combineren in DateTime
df['stm_sap_storeind'] = pd.to_datetime(df['stm_sap_storeindtijd'] + ' ' + df['stm_sap_storeinddatum'],errors='coerce')
df['stm_sap_meld'] = pd.to_datetime(df['stm_sap_meldtijd'] + ' ' + df['stm_sap_melddatum'],errors='coerce')
df['stm_aanngeb'] = pd.to_datetime(df['stm_aanngeb_tijd'] + ' ' + df['stm_aanngeb_dd'])
df['stm_aanntpl'] = pd.to_datetime(df['stm_aanntpl_tijd'] + ' ' + df['stm_aanntpl_dd'])

# # Verkeerde/lege data droppen
df = df.dropna(subset=['stm_sap_storeind'])
df = df.dropna(subset=['stm_sap_meld'])

In [146]:
# Oude kolommen droppen
df.drop(columns=['stm_sap_storeinddatum','stm_sap_storeindtijd','stm_aanngeb_dd','stm_aanngeb_tijd','stm_aanntpl_dd','stm_aanntpl_tijd','stm_sap_melddatum','stm_sap_meldtijd'],inplace=True)

objecten naar ints converten

In [148]:
df['stm_km_van_mld'] = pd.to_numeric(df['stm_km_van_mld'])
df['stm_km_tot_mld'] = pd.to_numeric(df['stm_km_tot_mld'])
df['stm_prioriteit'] = pd.to_numeric(df['stm_prioriteit'])
df['stm_km_tot_mld'] = pd.to_numeric(df['stm_km_tot_mld'])
df['stm_km_tot_mld'] = pd.to_numeric(df['stm_km_tot_mld'])

Time en Date collums combineren in datetime collumns

In [149]:
df.dtypes

stm_sap_meld_ddt                           object
stm_geo_mld                                object
stm_equipm_nr_mld                         float64
stm_equipm_soort_mld                       object
stm_km_van_mld                            float64
stm_km_tot_mld                            float64
stm_prioriteit                            float64
stm_geo_gst                                object
stm_oorz_code                             float64
stm_tao_indicator                          object
stm_tao_indicator_vorige                   object
stm_tao_soort_mutatie                      object
stm_tao_telling_mutatie                     int64
stm_tao_beinvloedbaar_indicator            object
stm_contractgeb_mld                       float64
stm_techn_mld                              object
stm_techn_gst                              object
stm_sap_storeind                   datetime64[ns]
stm_sap_meld                       datetime64[ns]
stm_aanngeb                        datetime64[ns]
stm_aanntpl                        datetime64[ns]
dtype: object

In [151]:
(df['stm_sap_meld']-df['stm_sap_storeind']).mean()

Timedelta('-4 days +13:14:47.727576')

In [152]:
df.tail()

           stm_sap_meld_ddt stm_geo_mld  stm_equipm_nr_mld stm_equipm_soort_mld  stm_km_van_mld  stm_km_tot_mld  stm_prioriteit stm_geo_gst  stm_oorz_code stm_tao_indicator stm_tao_indicator_vorige stm_tao_soort_mutatie  stm_tao_telling_mutatie stm_tao_beinvloedbaar_indicator  stm_contractgeb_mld stm_techn_mld stm_techn_gst    stm_sap_storeind        stm_sap_meld         stm_aanngeb         stm_aanntpl
898491  10/05/2013 21:21:00       116.0         10590754.0            TUNCONSTR         39193.0             0.0             2.0         NaN          221.0                 N                        N                   NaN                        0                               B                  5.0             K             K 2013-10-05 21:35:00 2013-10-05 21:21:00 2013-10-05 21:21:00 2013-10-05 21:30:00
898512  11/05/2013 07:17:00       155.0         10761004.0               WISSEL         84270.0             0.0             4.0       155.0          298.0                 N                        N                   NaN                        0                               B                 71.0             B             S 2013-05-13 02:30:00 2013-11-05 07:17:00 2013-11-05 07:17:00 2013-05-13 01:00:00
898513  11/05/2013 07:17:00       155.0         10761004.0               WISSEL         84270.0             0.0             4.0       155.0          298.0                 N                        N                   NaN                        0                               B                 71.0             B             S 2013-05-13 02:30:00 2013-11-05 07:17:00 2013-11-05 07:17:00 2013-05-13 01:00:00
898514  11/05/2013 07:17:00       155.0         10761004.0               WISSEL         84270.0             0.0             4.0       155.0          298.0                 N                        N                   NaN                        0                               B                 71.0             B             S 2013-05-13 02:30:00 2013-11-05 07:17:00 2013-11-05 07:17:00 2013-05-13 01:00:00
898515  11/05/2013 07:17:00       155.0         10761004.0               WISSEL         84270.0             0.0             4.0       155.0          298.0                 N                        N                   NaN                        0                               B                 71.0             B             S 2013-05-13 02:30:00 2013-11-05 07:17:00 2013-11-05 07:17:00 2013-05-13 01:00:00